.app-wrapper {
    max-width: 1920px;
    width: 100%;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 49px 1fr;

    @media (min-width: 960px) {
        grid-template-columns: 2fr 10fr;
    }

    @media (max-width: 768px) {
        grid-template-areas: "h" "c";
        grid-template-columns: 1fr;
    }
}